<div>
    <h2>Socket.io</h2>
    <hr>
    <input type="text" id="text">
    <ul id="mensajes">

    </ul>
        
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/chat.js"></script>
